.mains {
  margin-bottom: 50px;
}

.community_title {
  display: flex;
  justify-content: space-between;
}

.community_text__title {
  width: 65%;
  text-align: center;
}

.community_title_h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.community_subtitle {
  margin-top: 10px;
  color: var(--grey);
}

.community_text__hashtag {
  background-color: gray;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px;
  font-weight: 800;
}

#community_title__mark {
  margin-left: 10px;
  color: var(--yellow);
}

.community_text__mark {
  margin-right: 10px;
}

.community_text__text {
  margin: 15px;
  display: flex;
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 100px 0;
  display: block; /*span에 margin을 적용하기 위함*/
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.open-post__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative; /*자식이 absolute를 쓰면 겹칠 수 있음*/
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  position: absolute; /*부모가 relative면 겹칠 수 있음*/
  bottom: 5px; /*부모기준 절대위치*/
  right: 5px;

  display: flex;
  align-items: center;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform; /*애니메이션이 있다는 것을 브라우저에게 암시하여 그래픽카드를 이용, 더 부드러운 애니메이션 제공*/
  animation: heartBeat 1s linear infinite;
}

.community_title {
  display: flex;
  align-items: center;
}

.community_title_h2 {
  font-size: 18px;
  font-weight: 800;
}

.community_title_icon {
  margin-left: 10px;
  color: var(--yellow);
}

.open-post__image {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
